@import "./../../styles/constants";

.yt-control {
  width: 28px;
  height: 28px;
  padding: 5px;
  color: inherit;
  cursor: pointer;

  svg {
    opacity: 0.85;
    transition: $_default-transition;
    transition-property: opacity;
  }

  &:hover,
  &:focus {
    svg {
      opacity: 1;
    }
  }

  &-click-focus {
    .yt-control:focus {
      outline: none;
    }
  }
}

button.yt-control {
  margin: 0;
  border: 0;
  background: 0;
  box-sizing: content-box;
}
