@import ",./../../../styles/constants";

yt-slider {
  display: block;
  width: 100%;
  height: $_thumb-height;

  .yt-slider {
    &-progress-container {
      width: 100%;
      position: relative;
      height: $_thumb-height;
      cursor: pointer;
    }

    &-thumb {
      width: $_thumb-size;
      height: $_thumb-size;
      border-radius: 50%;
      background-color: $_white-alto;

      &-click-area {
        position: absolute;
        padding: $_margin;
        cursor: pointer;
        user-select: none;
      }
    }

    &-track {
      width: 100%;
      background-color: rgba($_white-alto, .3);
    }

    &-progress {
      background-color: $_white-alto;
    }

    &-progress,
    &-track {
      position: absolute;
      bottom: ($_thumb-height - $_slider-height) / 2;
      height: $_slider-height;
    }
  }
}
