yt-slider {
  $_slider-height: 3px;
  $_thumb-size: 12px;
  $_thumb-area-padding: 10px;
  $_default-color: #dfdfdf;

  display: block;
  width: 100%;
  height: $_thumb-size + $_thumb-area-padding * 2;

  .yt-slider {
    &-progress-container {
      width: 100%;
      position: relative;
    }

    &-thumb {
      width: $_thumb-size;
      height: $_thumb-size;
      border-radius: 50%;
      background-color: $_default-color;

      &-click-area {
        padding: $_thumb-area-padding;
        cursor: pointer;
        user-select: none;
      }
    }

    &-track {
      width: 100%;
      background-color: rgba($_default-color, 0.3);
    }

    &-progress {
      background-color: $_default-color;
    }

    &-progress,
    &-track {
      position: absolute;
      bottom: ($_thumb-size + $_thumb-area-padding * 2 - $_slider-height) / 2;
      height: $_slider-height;
    }
  }
}
