<div (click)="jumpToProgress($event); trackRef?.blur()"
     onmousedown="return false"
     class="yt-slider-progress-container">
     <div class="yt-slider-track"
          #trackRef
          (focus)="focused.emit()"
          (blur)="blured.emit()"
          (mousemove)="updateSeekPreivew($event)"
          (mouseout)="seekPreivew = 0"
          (keydown.ArrowLeft)="updateBy(-5)"
          (keydown.ArrowRight)="updateBy(5)"
          tabindex="0">
     </div>
     <div class="yt-slider-seek-preview"
          [style.width.%]="seekPreivew"></div>
     <div class="yt-slider-progress"
          [style.width.%]="progress"></div>
     <div class="yt-slider-thumb-click-area"
          #clickArea
          (mousedown)="startDrag()"
          [style.marginLeft]="'calc(' + progress + '% - ' + clickArea.clientHeight / 2 + 'px)'"
          onmousedown="return false"
          draggable="false">
          <div class="yt-slider-thumb">
          </div>
     </div>
</div>
