$_margin: 10px;
$_slider-height: 3px;
$_thumb-size: 12px;
$_thumb-height: $_thumb-size + $_margin * 2;

$_default-transition-time: 200ms;
$_default-transition: ease-in-out $_default-transition-time;

$_black: #000;
$_white-clouds: #ecf0f1;
