@mixin player-styles() {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: $_black;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 12px;

  video {
    width: 100%;
  }

  $_control-hide-delay: 2s;
  $_progress-grow: 2px;

  &.yt-player {
    &-state {
      &-playing {
        &.yt-player-mouse-state-idle {
          .yt-video-controls:not(:hover) {
            opacity: 0;
            transition-delay: $_control-hide-delay;
          }
        }
      }
    }
  }

  .yt {
    &-player {
      &-time {
        margin: 0 $_margin / 3;
      }
    }

    &-video {
      &-loader {
        position: absolute;
        top: calc(50% - 35px);
        left: calc(50% - 35px);
      }

      &-progress {
        width: calc(100% - #{$_margin * 2});
        display: inline-flex;
        margin-left: $_margin;

        .yt-slider-thumb,
        .yt-slider-progress-container {
          transition: $_default-transition;
          transition-property: margin-top, width, height, opacity;
        }

        .yt-slider-progress,
        .yt-slider-seek-preview,
        .yt-slider-track {
          transition: $_default-transition;
          transition-property: height;
        }

        &:hover {
          $_hover-height: $_thumb-height + $_progress-grow;

          .yt-slider-progress-container {
            margin-top: -($_progress-grow / 2);
            height: $_hover-height;
          }

          .yt-slider-progress,
          .yt-slider-seek-preview,
          .yt-slider-track {
            height: $_slider-height + $_progress-grow;
          }
        }

        &:not(:hover) {
          .yt-slider-thumb {
            margin-top: $_thumb-size / 2;
            width: 0;
            height: 0;
            opacity: 0;
          }
        }
      }

      &-timespan {
        transition: $_default-transition;
        transition-property: opacity;
        display: flex;
        align-items: center;
        margin: 0 $_margin;
      }

      &-controls {
        width: 100%;
        opacity: 1;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        transition: $_default-transition;
        transition-property: opacity;
        background-image: linear-gradient(
          to top,
          rgba($_black, 0.8),
          rgba($_black, 0.6),
          rgba($_black, 0.4),
          rgba($_black, 0.2),
          rgba($_black, 0)
        );
        position: absolute;
        bottom: 0;
        right: 0;
        color: $_white-clouds;

        &-left {
          margin-left: $_margin;
        }

        &-right {
          margin-right: $_margin;
        }

        &-left,
        &-right {
          display: flex;
          margin-bottom: $_margin / 3;
        }
      }
    }
  }
}
