@import "../styles/constants";

@mixin yt-player-theme($theme) {
  $player: map-get($theme, "player");

  $progress-color: map-get($player, "progress");

  .yt {
    &-video {
      &-progress {
        .yt-slider-thumb,
        .yt-slider-progress {
          background-color: $progress-color;
        }
      }
    }
  }
}
